<h3>Add Expense for {{clientService.selectedClient.name}}</h3>
<form #addExpenseForm="ngForm" (ngSubmit)="onSubmit(addExpenseForm)">
    <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="clientService.selectedClient.$key">
  <div class="form-group">
    <label>Expense name</label>
    <input class="form-control" name="expenseName" #name="ngModel" [(ngModel)]="expenseName" placeholder="Expense Name" required>
  </div>
  <div class="form-group">
    <label>Expense name</label>
    <input class="form-control" name="expenseValue" #name="ngModel" [(ngModel)]="expenseValue" placeholder="Expense value" required>
  </div>
  <div class="form-group">
    <button class="btn btn-default" type="submit" [disabled]="!addExpenseForm.valid">
      <i class="fa fa-floppy-o"></i>
       Submit</button>
    <button class="btn btn-default" type="button" (click)="resetForm(addExpenseForm)">
      <i class="fa fa-repeat"></i>
       Reset</button>
  </div>
</form>