<h3>Add Expense for {{clientService.selectedClient.name}}</h3>
<form #addExpenseForm="ngForm" (ngSubmit)="onSubmit(addExpenseForm)">
    <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="clientService.selectedClient.$key">
  <div class="form-group">
    <label>Expense title</label>
    <input class="form-control" name="expenseName"  [(ngModel)]="expenseName" placeholder="Expense Name" required>
  </div>
  <div class="form-group">
    <label>Expense amount</label>
    <input class="form-control" name="expenseValue"  [(ngModel)]="expenseValue" placeholder="Expense value" required>
  </div>
  <div class="form-group">
    <label>Expense currency</label>
    <input class="form-control" name="expenseCurrency"  [(ngModel)]="expenseCurrency" placeholder="Expense currency" required>
  </div>
  <div class="form-group">
    <label>Expense description</label>
    <input class="form-control" name="expenseDesc" [(ngModel)]="expenseDesc" placeholder="Expense dexcription" required>
  </div>
  <div class="form-group">
    <button class="btn btn-default" type="submit" [disabled]="!addExpenseForm.valid">
      <i class="fa fa-floppy-o"></i>
       Submit</button>
    <button class="btn btn-default" type="button" (click)="resetForm(addExpenseForm)">
      <i class="fa fa-repeat"></i>
       Reset</button>
  </div>
</form>