<h3 *ngIf="!clientService.selectedClient.$key" >Add new client</h3>
<h3 *ngIf="clientService.selectedClient.$key" >Edit client {{clientService.selectedClient.name}}</h3>
<form #clientForm="ngForm" (ngSubmit)="onSubmit(clientForm)">
    <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="clientService.selectedClient.$key">
  <div class="form-group">
    <label>Name</label>
    <input class="form-control" name="name" #name="ngModel" [(ngModel)]="clientService.selectedClient.name" placeholder="Full Name" required>
  </div>
  <div class="form-group">
    <button class="btn btn-default" type="submit" [disabled]="!clientForm.valid">
      <i class="fa fa-floppy-o"></i>
       Submit</button>
    <button class="btn btn-default" type="button" (click)="resetForm(clientForm)">
      <i class="fa fa-repeat"></i>
       Reset</button>
  </div>
</form>